<h3>Update produto</h3>
<div [hidden]="submitted" class="principal-form">
    <form (ngSubmit)="onSubmit()" id="form">
      <p id="form-field">
        <mat-form-field  id="form-field" appearance="outline" floatLabel="always">
        <mat-label ><strong> Produto </strong> </mat-label>
        <input matInput type="text" class="form-control" id="nome" required [(ngModel)]="produto.nome" name="nome">
        </mat-form-field>
      </p>

      <p id="form-field">
        <mat-form-field  id="form-field" appearance="outline" floatLabel="always">
        <mat-label ><strong> Preço </strong> </mat-label>
        <input matInput type="text" class="form-control" id="preco" required [(ngModel)]="produto.preco" name="nome">
        </mat-form-field>
      </p>

      <p id="form-field">
        <mat-label >Status</mat-label>
      <mat-radio-group  required [(ngModel)]="produto.status" name="status">
        <p></p>
        <mat-radio-button value="Disponivel">Disponivel</mat-radio-button>
        <mat-radio-button value="Nao Disponivel">Não Disponivel</mat-radio-button>
      </mat-radio-group>
      </p>

      <p  id="form-field">
        <mat-label  >Categoria</mat-label>
        <mat-radio-group  required [(ngModel)]="produto.categoria" name="categoria">
         <p></p>
          <mat-radio-button value="A">Categoria A</mat-radio-button>
          <mat-radio-button value="B">Categoria B</mat-radio-button>
          <p></p>
          <mat-radio-button value="C">Categoria C</mat-radio-button>
          <mat-radio-button value="D">Categoria D</mat-radio-button>
        </mat-radio-group>
        </p>

        <div class="form-group">
        <label for="name">Codigo</label>
        <input type="text" class="form-control" id="codigo" required [(ngModel)]="produto.codigo" name="codigo">
        </div>

    
        <button type="submit" (click)="updateProduto(produto.id)" class="btn btn-success">Alterar</button>
        
      </form>
      <button (click)="onClose()" class="btn btn-success">Cancelar</button>
    </div>
    
    <div [hidden]="!submitted">
        <h4>Alterado com sucesso!</h4>
        <button (click)="onClose()" class="btn btn-success">Fechar</button>    
      </div>

      <!--
<p id="form-field">
        <mat-label >Status</mat-label>
      <mat-radio-group  required [(ngModel)]="produto.status" name="status">
        <p></p>
        <mat-radio-button value="Disponivel">Disponivel</mat-radio-button>
        <mat-radio-button value="Nao Disponivel">Não Disponivel</mat-radio-button>
      </mat-radio-group>
      </p>

      <p  id="form-field">
        <mat-label  >Categoria</mat-label>
        <mat-radio-group  required [(ngModel)]="produto.categoria" name="categoria">
         <p>
          <mat-radio-button *ngFor="let produto of categorias" [value]="produto.categorias">{{produto.categorias}}</mat-radio-button>
          </p>
        </mat-radio-group>
        </p>

      -->