<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Lista de Produtos</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Categoria</th>
            <th>Status</th>
            <th>Codigo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produto | async">
            <td>{{produto.nome}}</td>
            <td>{{produto.preco}}</td>
            <td>{{produto.categoria}}</td>
            <td>{{produto.status}}</td>
            <td>{{produto.codigo}}</td>
            <td><button mat-raised-button color="primary" (click)="deleteProduto(produto.id)" class="btn btn-danger">Delete</button>
                <button mat-raised-button color="primary" (click)="updateProduto(produto.id)" class="btn btn-info" style="margin-left: 10px">Alterar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
